html    {
    position: relative;
}

/* Persetujuan Page */
.persetujuan {
    position: relative;
}


.persetujuan-kanan {
    color: #154c9b;
}

.persetujuan-kanan h2 {
    margin-top: 10%;
}

.persetujuan-kiri {
    color: #154c9b;
    position: relative;
}

.persetujuan-kiri img {
    transform: translate(30px,80px);
    z-index: -1;
}


.ketentuan  {
    width: 500px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 2px solid #154c9b;
    border-radius: 15px;
    padding : 20px;
}

.ketentuan h5 {
    font-style: italic;
}


.form-check small {
    font-style: italic;
    font-weight: 500;

}

.hitungmundur {
    overflow: hidden;
    width: 600px;
    margin-top: 50px;
    z-index: 2;

}

.hitungmundur h5, .hitungmundur p {
    font-weight: 500;
}

.hitungmundur .box {
    float: left;
    width: 80px;
    height: 70px;
    border: 2px solid #154c9b;

}

.hitungmundur .box p {
    text-align: center;
    color: #154c9b;
    font-weight: 500;
}

.hitungmundur .box .satuan-angka {
    font-size: 30px;
    margin-top: -2px;
    margin-bottom: -10px;
}

.hitungmundur .box .satuan-teks {
    font-size: 16px;
}


/* Sumbang Saran Page */
.sumbangsaran-page {
    color: #154c9b;
}
.sumbangsaran-page h1 {
    text-align: center;
    margin-top: 20px;
}

.sumbangsaran-page .alert {
    background-color: #4a7aff;
    color: white;
}

.sumbangsaran-page .alert span {
    font-weight: 600;
}

.sumbangsaran-page form {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 20px;
}

