html {
    position: relative;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body#index {
    /* background: url(../img/bg-ss.png) no-repeat center center fixed;  */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-color: #0f0e20;
    color: white;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body#input {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* konten Page */
.logo .icare {
    margin-top: 10px;
}

.logo .kimiafarma {
    float: right;
    margin-top: 10px;
}

.konten {
    margin-top: -70px;
    align-items: center;
    height: 650px;
}

.konten-kiri {
    display: block;
    margin-right: -200px;
    opacity: 0;
    transform: translateX(300px);
    transition: 2s;
    
}

.konten-kiri h1 {
    font-size: 40px;
    font-family: 'Merriweather', serif;
}

.konten-kiri h2 {
    font-size: 30px;
    font-family: 'Merriweather', serif;
}

.konten-kiri .tanggal {
    color: #ffc107;
    font-size: 30px;
    font-weight: 550;
    text-shadow: 3px 3px 5px rgba(0, 0, 0, .8);
    font-family: 'Montserrat', sans-serif;
}

.konten-kiri .periode {
    font-size: 14px;
}

.hitungmundur {
    overflow: hidden;
    width: 600px;
    font-family: 'Montserrat', sans-serif;
}

.konten-kiri .waktu-tersisa {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    vertical-align: bottom;
}

.hitungmundur .box {
    float: left;
    width: 70px;
    height: 70px;
}

.hitungmundur .box-span {
    float: left;
    width: 20px;
    height: 90px;
}

.hitungmundur .box-span p {
    font-size: 40px;
    font-family: 'Montserrat', sans-serif;

}

.hitungmundur .box p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.hitungmundur .box .satuan-angka {
    font-size: 40px;
    margin-bottom: -10px;
    font-family: 'Montserrat', sans-serif;
}

.hitungmundur .box .satuan-teks {
    font-size: 16px;
    margin-top: 5px;
    font-family: 'Montserrat', sans-serif;
}

.konten-kanan {
    opacity: 0;
    transform: translateX(-300px);
    transition: 2s;
}

.konten-kanan .carouselKFUPJ {
    max-width: 500px;
    max-height: 375px;
}


/* Parallax Persetujuan Page */
.konten-kiri.showkonten , .konten-kanan.showkonten {
    opacity: 1;
    transform: translate(0,0);
}


/* Sumbang Saran Page */
.animate {
    opacity: 0;
    transform: translateX(-500px);
    transition: .5s;
}

.form-page {
    font-family: 'Montserrat', sans-serif;
}

.form-page form label {
    font-weight: 500;
}

.form-page input, .form-page select, .form-page textarea {
    border: 1px solid #b5b5b5;
}
.animate.show-form {
    opacity: 1;
    transform: translate(0,0);
}

.overlay {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: #333;
    background-color: #fff;
    z-index: 99;
    opacity: 1;
}

.overlay .box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 400px;
    /* background-image: url(../img/closed.png);
    background-position-y: top;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: 180px; */
    overflow: hidden;
}

.overlay .box span:nth-child(1) {
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background: #0f0e20;
    border-radius: 10px;
    animation: animate-top 5s linear infinite;
}

.overlay .box span:nth-child(2) {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 10px;
    background: #c9c8e6;
    border-radius: 10px;
    animation: animate-right 5s linear infinite;
    animation-delay: 2.5s;
}

.overlay .box span:nth-child(3) {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 10px;
    width: 100%;
    background: #0f0e20;
    border-radius: 10px;
    animation: animate-bottom 5s linear infinite;
}

.overlay .box span:nth-child(4) {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    background: #c9c8e6;
    border-radius: 10px;
    animation: animate-left 5s linear infinite;
    animation-delay: 2.5s;
}

@keyframes animate-top {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}
@keyframes animate-left {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}
@keyframes animate-right {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
@keyframes animate-bottom {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.overlay img {
    margin: 20px 0;
}

.overlay p {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.overlay button {
    font-family: 'monserrat', sans-serif;
    margin-top: 40px;
    background-color: #0f0e20;
    border: none;
}

.overlay button:hover {
    background-color: #0f0e20;
    color: #b5b5b5;
    transition: .1s;
}

.d-flex a {
    background-color: #0f0e20;
    color: white;
    border: none;
}

.d-flex a:hover {
    color: #b5b5b5
}

/* Login Page */
.login-page {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
}
.login-page .row {
    display: flex;
    justify-content: center;
}

.login-page .row .login-form {
    width: 30%;
}

.login-page .row .bg-login {
    width: 70%;
    background: #0f0e20;
}
/* Login Page */

/* Form Page */
.form-page .alert {
    background: #c9c8e6;
    color: #0f0e20;
}

.form-page button {
    background: #0f0e20;
    border: none;
    transition: .2s ease-in-out;
}

.form-page button:hover {
    background: #c9c8e6;
    color: #0f0e20;
}
/* Form Page */


/* ADMIN PAGE */
    /* DASHBOARD */
    /* Content */
    .content .col-6 {
        opacity: 0;
        transition: 1.5s;
    }

    .content .col-6.show-content {
        opacity: 1;
    }
    /* Content */
    /* DASHBOARD */

    /* KELOLA SUMBANG SARAN */
    /* Top bar */
    .topbar-ss .ubah-periode {
        font-weight: 600;
        margin-top: 30px;
    }

    .table-sumbangsaran table thead tr th {
        text-align: center;
    }

    .table-sumbangsaran table tbody tr td {
        text-align: center;
    }
    /* Top bar */
    /* KELOLA SUMBANG SARAN */

    /* DATA KARYAWAN */
    /* Top Bar */
    .top-bardk .kelola-bagian {
        font-weight: 600;
        margin-top: 30px;
        margin-left: -14px;
    }

    .top-bardk .kelola-ext {
        font-weight: 600;
        margin-top: 30px;
    }
    /* Top Bar */

    /* Konten */
    .table-datakaryawan table thead tr th, .table-datakaryawan table tbody tr td,
    .table-modalbagian table thead tr th, .table-modalbagian table tbody tr td,
    .table-modalextension table thead tr th, .table-modalextension table tbody tr td {
        text-align: center;
    }
    /* Konten */

    /* DATA KARYAWAN */
/* ADMIN PAGE */

/* TIM PENILAI PAGE */
    /* Penilaian */
    .penilaian {
        font-family: 'Montserrat', sans-serif;
        border-top: 2px solid #0f0e20;
    }
    /* Penilaian */
/* TIM PENILAI PAGE */


/* RESPONSIVELY */
@media screen and (max-width: 1440px) {
    .konten-kiri h2 {
        font-size: 30px;
    }

}

@media screen and (max-width: 1280px) {
    .konten-kiri h2 {
        font-size: 30px;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .konten-kiri {
        margin-right: 0;
        margin-top: 20px;
        text-align: center;
    }

    .konten-kiri .hitungmundur {
        display: block;
        margin: 0 auto;
        width: fit-content;

    }

    .konten-kanan {
        order: -1;
    }

    .konten-kanan img {
        display: block;
        margin: 0 auto;
    }

    .login {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 700px) {
    .logo .icare img, .logo .kimiafarma img {
        width: 80px;
    }

    .logo .icare, .logo .kimiafarma {
        width: 80px;
        height: 80px;
    }

    .logo .kimiafarma {
        padding: 0;
    }

    .konten {
        margin-top: 20px;
    }

    .konten-kanan img {
        width: 300px;
    }

    .konten-kiri {
        margin-right: 0;
        text-align: center;
    }

    .konten-kiri h1 {
        font-size: 30px;
    }

    .konten-kiri h2 {
        font-size: 24px;
    }

    .konten-kiri .periode {
        font-size: 18px;
    }

    .konten-kiri .tanggal {
        font-size: 24px;
    }

    .konten-kiri .waktu-tersisa {
        margin: 10px 0 -10px;
        text-align: center;
    }

    .konten-kiri .hitungmundur {
        width: fit-content;
        display: block;
        margin: 5px auto;
    }

    .konten-kiri .hitungmundur .box {
        width: 50px;
    }

    .konten-kiri .hitungmundur .box-span p {
        font-size: 26px;
    }

    .konten-kiri .hitungmundur .box .satuan-angka {
        font-size: 26px;
    }

    .konten-kiri .hitungmundur .box .satuan-teks {
        font-size: 10px;
    }

    .login {
        margin-top: -30px;
    }
}

@media screen and (max-width: 400px) {
    .overlay .box {
        width: 300px;
        height: 400px;
    }

    .overlay .box p {
        font-size: 18px;
    }
}

@media screen and (min-width: 1300px) {
    .konten-kiri h1 {
        font-size: 40px;
    }

    .konten-kiri h2 {
        font-size: 30px;
    }

    .konten-kiri .tanggal {
        font-size: 30px;
    }
}


@media screen and (min-width: 1280px) {
    body#index {
        overflow: hidden;
    }
}

@media screen and (min-height: 900px) {
    .konten {
        margin-top: 80px;
    }
}

@media screen and (min-height: 800px) {
    .konten {
        margin-top: 20px;
    }
}

/* RESPONSIVELY */
