html    {
    position: relative;
}

/* Persetujuan Page */
.persetujuan {
    position: relative;
}

.persetujuan-kiri {
    color: #204f8f;
    position: relative;
}

.persetujuan-kiri h2 {
    text-align: center;
    transform: translateY(60px);
}

.persetujuan-kiri .periode {
    margin-top: 20px;
}

.persetujuan-kiri .tanggal {
    margin-bottom: 20px;
}

.persetujuan-kiri img {
    transform: translate(70px,60px);
    
}

.hitungmundur {
    overflow: hidden;
    width: 600px;
    margin-top: 20px;
    margin-left: 100px;
    z-index: 2;

}

.hitungmundur h5, .hitungmundur p {
    font-weight: 500;
}

.hitungmundur .box {
    float: left;
    width: 80px;
    height: 70px;
    border: 2px solid #204f8f;

}

.hitungmundur .box p {
    text-align: center;
    color: #204f8f;
    font-weight: 500;
}

.hitungmundur .box .satuan-angka {
    font-size: 30px;
    margin-top: -2px;
    margin-bottom: -10px;
}

.hitungmundur .box .satuan-teks {
    font-size: 16px;
}

.persetujuan-kanan {
    color: #204f8f;
}

.persetujuan-kanan h4 {
    margin-top: 15%;
}

.persetujuan-kanan a {
    background-color: #204f8f;
    border: 1px solid #204f8f;
}


.ketentuan  {
    width: 500px;
    margin-top: 10px;
    box-sizing: border-box;
    border: 2px solid #204f8f;
    border-radius: 15px;
    padding : 20px;
}

.form-check small {
    font-style: italic;
    font-weight: 500;

}


/* Sumbang Saran Page */
.sumbangsaran-page {
    color: #154c9b;
}
.sumbangsaran-page h1 {
    text-align: center;
    margin-top: 20px;
}

.sumbangsaran-page .alert {
    background-color: #4a7aff;
    color: white;
}

.sumbangsaran-page .alert span {
    font-weight: 600;
}

.sumbangsaran-page form {
    border: 1px solid #eaeaea;
    border-radius: 5px;
    padding: 20px;
}

